.nav-site{
	background-color: black;
}
.nav-site li{
		font-family: arial;
		color: white;
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		/*transition-property: background-color,color;*/
		/*transition-property: all;
		transition-duration: 0.3s;
		transition-timing-function: linear;
		transition-delay: 0s;*/
		transition: all 0.3s linear 0s;
}

.nav-site li:hover{
	background-color: white;
	color: black;
}


.img-demo{
	border-radius: 50%;
	opacity: 0.3;
	transition:all 0.3s linear;
}

.img-demo:hover{
	opacity: 1;
	box-shadow: 4px 4px 4px black;
}