.box{
	width: 800px;
	height: 700px;
	background-color: black;
}
.box1{
	width:390px;
	height: 200px;
	background-color: green;
	display: inline-block;
	vertical-align: top;
}
.box2{
	width:390px;
	height: 200px;
	background-color: skyblue;
	display: inline-block;
	vertical-align: top;
}

.box3{
	width: 790px;
	height: 100px;
	background-color: yellow;
}
.box4{
	width:390px;
	height: 200px;
	background-color: purple;
	display: inline-block;
	vertical-align: top;
}
.box5{
	width:390px;
	height: 200px;
	background-color: orange;
	display: inline-block;
	vertical-align: top;
}

.contenedor{
	width: 800px;
	height: 700px;
	background-color: gray;

}
.item1{
width: 396px;
height: 300px;
background-color: red;
display: inline-block;
vertical-align: top;
}
.item2{
width: 396px;
height: 300px;
background-color: blue;
display: inline-block;
vertical-align: top;
}